%h1
  = @list.email
  Mailing List

%h2 Add a Subscriber
= form_for @email, html: { class: 'form-horizontal', role: 'form'} do |f|
  = f.hidden_field :list_id, value: @list.id

  .form-group
    = f.label :email, class: 'control-label col-sm-2'
    .col-sm-10
      = f.collection_select(:email, Email.not_in_list(@list), :id, :name, {}, {class: 'form-control'})

  .col-sm-10
    = f.submit 'Add Subscriber', class: 'btn btn-default'

%h2
  Subscribers

%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Email
      %th Actions
  %tbody
    - @list.emails.each do |email|
      %tr
        %td= email.name
        %td= email.email
        %td
          = link_to 'Remove from List', list_email_path(@list, email), method: :delete, class: 'btn btn-danger'